* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

div.style-1 {
  width: 50vw;
  height: 30vh;
  background-color: hsl(100deg, 0%, 100%);
  top: 0;
  left: 0;
  transform: skew(-45deg) translateX(-100%);
  position: fixed;
  z-index: 1;
}

div.style-2 {
  width: 50vw;
  height: 100vh;
  background-color: hsl(100deg, 0%, 100%);
  bottom: 0;
  right: 0;
  transform: skew(-45deg) translateX(100%);
  position: fixed;
  z-index: 1;
}

main {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  flex-direction: column;
  position: relative;
  background: linear-gradient(hsl(240deg, 19%, 12%), hsl(222deg, 76%, 62%));
}

label[for=jokes] {
  display: block;
  margin: 4rem auto 2rem auto;
  color: hsl(100deg, 0%, 100%);
  font-size: 2.6rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 5px;
  transition: 0.4s;
}

label[for=jokes]:hover {
  cursor: pointer;
  color: hsl(53deg, 97%, 58%);
  transform: scale(1.1);
}

select.jokes-no {
  border: none;
  outline: 1px solid hsl(100deg, 0%, 100%);
  padding: 0.2rem;
  margin-bottom: 0.8rem;
  background-color: hsl(240deg, 19%, 12%);
  color: hsl(100deg, 0%, 100%);
}

button.get-joke {
  padding: 1rem;
  margin: 1.4em;
  border: none;
  font-family: Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 900;
  color: hsl(53deg, 97%, 58%);
  background-color: hsl(240deg, 19%, 12%);
  border-radius: 0.2rem;
  transition: 0.4s all;
}

button.get-joke:hover {
  cursor: pointer;
  box-shadow: -1px -1px 0px 0px hsl(100deg, 0%, 100%);
  transform: translateY(-10px);
  filter: drop-shadow(0px);
}

span.alert {
  display: none;
  padding: 0.6rem;
  color: hsl(100deg, 0%, 100%);
  background-color: hsl(133deg, 89%, 48%);
  border-radius: 0.5rem;
  position: absolute;
  transform: translateX(-105px) translateY(-20px);
  transition: 0.4s all;
}

button.get-joke:active {
  display: inline;
  transform: translateY(0px);
  color: hsl(240deg, 19%, 12%);
  background-color: hsl(53deg, 97%, 58%);
  box-shadow: none;
}

article.joke-api-container {
  text-align: center;
}

section.jokes-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1.5rem;
}

.set-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
  margin: auto;
  border-radius: 0.7rem;
  background-color: hsl(240deg, 19%, 12%);
  transition: 0.4s all;
  z-index: 2;
}

.set-up:hover {
  cursor: pointer;
  box-shadow: -1px -1px 0px 0px hsl(100deg, 0%, 100%);
  transform: translateY(-10px);
  filter: drop-shadow(0px);
}

.joke {
  display: none;
  font-size: 1.2rem;
  padding: 1rem;
  color: hsl(100deg, 0%, 100%);
}

.punchline {
  display: none;
  font-size: 1.2rem;
  padding: 1rem;
  color: hsl(53deg, 97%, 58%);
}

.error {
  display: none;
  padding: 1rem;
  color: hsl(0deg, 100%, 50%);
  font-size: 1.2rem;
}/*# sourceMappingURL=styles.css.map */